.SiteContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border:1px solid black;
}

.HeaderPanel {
    background: #eee;
    height: 10vh;
    border-bottom: 1px solid black;
}

.MainPanel {
    background: white;
    height: 90vh;
}